@media (max-width: 1360px) {

    .header__title {
        margin-top: 375px;
    }

}

@media (max-width: 1350px) {

    .header__title {
        margin-top: 355px;
    }

}

@media (max-width: 1340px) {

    .main__title_bonus {
        font-size: 48px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .main__text_bonus {
        font-size: 12px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .main__image_bonus {
        margin-left: 50px;
        margin-right: 50px;
    }

}


@media (max-width: 1320px) {

    .header__title {
        margin-top: 335px;
    }

}


@media (max-width: 1300px) {

    .header__title {
        margin-top: 315px;
    }

    .mission__text {
        margin-left: 140px;
    }
/* 
    .footer__faq__image img {
        height: 200px;
        width: 200px;
    } */

}